body{
    background-color: #3498db;
}

#nav{

    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 55px;
    text-align: center;
    background-color:aquamarine;
    

}

ul{
     list-style: none;
    padding: 3;
    margin: 0;
    display: inline-block;
    //background: #333;
    border: 0.5px solid;
    border-color : black;
    border-radius: 5px;
}

li{
    color:white;
    float: left;
    width: 150px;
    height: 45px;
    line-height: 40px;
    //border: 0.5px solid;
    border-color: black;
    border-radius: 5px;
    font-size: 30px;
    position: relative;
    cursor : pointer;
}

#navi
{
    height: 100%;    
    position: absolute;
    top:55px;
    left: 0;
    width:60px;
    height:100%;
    text-align: center;
    background-color: #333;
    
}

#navi ul{
    position: absolute;
    left:5;
    top:60px;
     border:none;
   width: 50px;
    
}

i{

    float:left;
    color: white;
    font-size: 35px;

    
}
#navi ul li{
    color:white;
    height:120px;
    font-size: 15px;
    cursor : pointer;
}